name: Application CI

on:
  push:

env:
  USERNAME: voronm1522
  DOCKER_REPO: voronm1522/devops

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up python
      uses: actions/setup-python@v3
      with:
        python-version: '3.13'

    - name: Install dependencies and linter
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install -r app_python/requirements.txt

    - name: Lint with flake8
      run: |
        flake8 app_python/app.py

    - name: Run tests
      run: |
        python app_python/unittests.py

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: app_python
        push: true
        tags: ${{ env.DOCKER_REPO }}:python-app