# Yandex Cloud Authentication
TF_VAR_cloud_id=""
TF_VAR_folder_id=""
TF_VAR_subnet_id=""
TF_VAR_token=""

# VM Configuration
TF_VAR_zone="ru-central1-a"
TF_VAR_vm_name="my-terraform-vm"
TF_VAR_cores=2
TF_VAR_memory=2
TF_VAR_nat=true
TF_VAR_ssh_key_path="~/.ssh/id_rsa.pub"
