[MASTER]
# Add any Python module names here where you want to disable all warnings.
ignore=CVS

# Use multiple processes to speed up Pylint.
jobs=1

[MESSAGES CONTROL]
# Disable specific warnings
disable=C0111,  # missing-docstring
        C0103,  # invalid-name
        W0621,  # redefined-outer-name
        C0301   # line-too-long

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

[BASIC]
# Regular expression which should only match function or class names
function-rgx=[a-z_][a-z0-9_]{2,50}$

# Regular expression which should only match correct variable names
variable-rgx=[a-z_][a-z0-9_]{2,30}$

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=4

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=numpy,tensorflow,torch,cv2

[MISCELLANEOUS]
# List of note tags to take into consideration
notes=FIXME,XXX,TODO 