- name: Include wipe tasks
  ansible.builtin.include_tasks: 0-wipe.yml
  when: web_app_full_wipe
  tags:
    - wipe

- name: Pull Docker image
  community.docker.docker_image:
    name: "{{ docker_image }}"
    source: pull
  tags:
    - docker

- name: Deploy Docker Compose
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: /home/ubuntu/docker-compose.yml
  tags:
    - deploy

- name: Start application
  community.docker.docker_compose:
    project_src: /home/ubuntu
    state: present
  tags:
    - deploy