- name: Check if app directory exists
  ansible.builtin.stat:
    path: "{{ web_app_dir }}"
  register: app_dir_stat

- name: Wipe images
  community.docker.docker_compose_v2:
    project_src: "{{ web_app_dir }}"
    remove_orphans: true
    remove_volumes: true
    remove_images: all
    state: absent
  when: app_dir_stat.stat.exists  # Only run if the app directory exists

- name: Remove app directory
  ansible.builtin.file:
    path: "{{ web_app_dir }}"
    state: absent
  ignore_errors: true
  when: app_dir_stat.stat.exists  # Only run if the app directory exists