- name: Restart Docker
  ansible.builtin.systemd:
    name: docker
    state: restarted
    enabled: true

- name: Restart Containers
  ansible.builtin.systemd:
    name: containerd
    state: restarted
    enabled: true