name: Flutter CI/CD Pipeline

on:
  push:
    paths:
      - "app_dart/**"
  pull_request:
    paths:
      - "app_dart/**"

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.13.0"

      - name: Get Dependencies
        run: flutter pub get
        working-directory: app_dart/nothern_lights_app

      - name: Analyze Code
        run: flutter analyze
        working-directory: app_dart/nothern_lights_app

      - name: Run Tests
        run: flutter test
        working-directory: app_dart/nothern_lights_app
  
  snyk-security:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Snyk Security Scan
        uses: snyk/actions/flutter@master
        with:
          args: --all-projects
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  docker:
    needs: build-and-test
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/northern-lights-app:latest
