apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: your-app-prod
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/anasalatasiuni/S25-core-course-labs.git
    targetRevision: lab13
    path: k8s/your-app
    helm:
      valueFiles:
        - values-prod.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated: {}