apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: arhocd-app-prod
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Petrel321/S25-core-course-labs.git
    targetRevision: lab13-solution
    path: k8s/helm-python
    helm:
      valueFiles:
        - values-prod.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
