body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #393a3e;
}

.container {
    text-align: center;
    background: rgb(68, 67, 67);
    padding: 40px;
    border-radius: 5px;
}

#time_header {
    color: #fdfdfd;
}

#formatted_time {
    font-size: 2.5em;
    color: #fdfdfd;
}