---
- name: Setup Docker Environment
  block:
  - name: Update apt package index
    ansible.builtin.apt:
      update_cache: true

  - name: Install dependencies
    ansible.builtin.apt:
      name: "{{ item }}"
      state: present
    loop:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common

  - name: Add Docker GPG key
    ansible.builtin.apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      state: present

  - name: Add Docker apt repository
    ansible.builtin.apt_repository:
      repo: deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
      state: present

  - name: Install Docker with dependencies
    ansible.builtin.apt:
      name:
        - docker-ce
        - docker-ce-cli
        - containerd.io
      state: present
      update_cache: true

  - name: Start Docker service
    ansible.builtin.systemd:
      name: docker
      enabled: true
      state: started
