# Since Linux distribution may provide unofficial Docker packages, they may conflict
# with the official ones. Therefore, it is necessary to delete them
- name: Delete conflicting packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: absent
  loop:
    - docker.io
    - docker.doc
    - docker-compose
    - docker-compose-v2
    - podman-docker
    - containerd
    - runc

- name: Install Docker dependencies
  ansible.builtin.apt:
    update_cache: true
    name: "{{ item }}"
    state: present
  loop:
    - ca-certificates
    - curl

# It is a required step to install docker packages
- name: Add Docker's official GPG key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add the repository to Apt sources
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    state: present

- name: Install Docker
  ansible.builtin.apt:
    update_cache: true
    name: "{{ item }}"
    state: present
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin

- name: Configure Docker to start on boot
  ansible.builtin.systemd_service:
    name: "docker"
    enabled: true
    state: started

- name: Configure containerd to start on boot
  ansible.builtin.systemd_service:
    name: "containerd"
    enabled: true
    state: started

- name: Create "docker" group
  ansible.builtin.group:
    name: docker
    state: present

- name: Add user to the "docker" group
  ansible.builtin.user:
    append: true
    name: dan
    groups:
      - docker
  notify: Restart Docker
