---
- name: Include Docker installation tasks
  ansible.builtin.include_tasks: install_docker.yml

- name: Include Docker Compose installation tasks
  ansible.builtin.include_tasks: install_compose.yml