[defaults]
roles_path = /mnt/d/Studying/S25-core-course-labs/ansible/roles

inventory = /mnt/d/Studying/S25-core-course-labs/ansible/inventory
inventory_plugins = /mnt/d/Studying/S25-core-course-labs/ansible/plugins/inventory

enable_plugins = yacloud_compute, yaml, ini
