[defaults]
inventory = ./inventory/
remote_user = ubuntu
playbook_dir = ./playbooks
roles_path = ./roles
inventory_plugins = ./plugins/inventory
host_key_checking = false
enable_plugins = host_list, script, auto, yaml, ini, toml, yacloud_compute

