name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Dependencies
      run: |
        cd app_python
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Snyk to check for vulnerabilities
      uses: snyk/actions/python@master
      continue-on-error: true
      with:
        command: test ../../app_python
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

    - name: Lint
      run: |
        cd app_python
        flake8 .

    - name: Test
      run: |
        cd app_python
        pytest

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        cd app_python
        docker build -t ${{ secrets.DOCKER_USERNAME }}/current_timezone_app_python:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/current_timezone_app_python:latest