name: CI/CD Pipeline

on:
  push:
    branches:
      - lab_3
  pull_request:
    branches:
      - lab_3

jobs:
  build-lint-test:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Check out the repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # Step 3: Cache Dependencies
      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('app_python/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # Step 4: Install Dependencies
      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r app_python/requirements.txt

      # Step 5: Lint Code
      - name: Lint Code
        run: |
          flake8 app_python/

      # Step 6: Run Tests
      - name: Run Tests
        run: |
          pytest app_python/tests/

  security:
    needs: [build-lint-test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Step 7: Install Snyk
      - name: Install Snyk
        run: npm install -g snyk

      # Step 8: Run Snyk Vulnerability Check
      - name: Run Snyk Vulnerability Check
        run: snyk test --file=./app_python/requirements.txt --skip-unresolved
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  docker-worker:
   needs: [build-lint-test, security]
   runs-on: ubuntu-latest
   steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Step 9: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 10: Build Docker Image
      - name: Build Docker Image
        working-directory: ./app_python
        run: |
          docker build -t nickwidbestie/region-time-api:$GITHUB_SHA -f Dockerfile .

      # Step 11: Push Docker Image
      - name: Push Docker Image
        run: |
          docker push nickwidbestie/region-time-api:$GITHUB_SHA