name: CI/CD Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    environment: Prod

    steps:
      # Step 1: Check out the code
      - name: Checkout Code
        uses: actions/checkout@v3

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      # Cache pip dependencies
      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/app_python/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('app_python/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # Install dependencies
      - name: Install Dependencies
        working-directory: ./app_python
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt

      # Snyk Vulnerability Check
      - name: Snyk Vulnerability Scan
        uses: snyk/actions/python-3.10@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: ./app_python --skip-unresolved

      # Run linter (flake8)
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 .

      # Run tests
      - name: Run Tests
        working-directory: ./app_python
        run: |
          python -m unittest discover tests

  docker-build-push:
    needs: build-and-test  # Ensure this step runs after the build-and-test job
    runs-on: ubuntu-latest
    environment: Prod

    steps:
      # Step 1: Check out the code
      - name: Checkout Code
        uses: actions/checkout@v3

      # Step 2: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 3: Build and push Docker image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./app_python
          file: ./app_python/Dockerfile
          push: true
          tags: whatislav/moscow-time-app:latest