name: Python package

on:
  push:
    branches:
      - lab3

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: pip
          cache-dependency-path: "app_python/requirements.txt"

      - name: Dependencies
        run: |
          cd app_python
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Linter
        run: |
          cd app_python
          pip install flake8
          flake8 .

      - name: Tests
        run: |
          cd app_python
          python -m unittest

      - name: Install snyk
        run: npm install -g snyk

      - name: Authenticate with Snyk
        run: snyk auth ${{ secrets.SNYK_TOKEN }}

      - name: Run Snyk scan
        run: snyk test
        working-directory: app_python

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: app_python
          push: true
          tags: angelika2707/lab2:latest
          cache-from: type=registry,ref=angelika2707/lab2:cache
          cache-to: type=registry,ref=angelika2707/lab2:cache,mode=max