name: Python CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Cache Python dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('app_python/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        cd app_python
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Snyk
      uses: snyk/actions/python@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        args: --skip-unresolved --file=app_python/requirements.txt

    - name: Run linter
      run: |
        cd app_python
        pip install flake8
        flake8 .

    - name: Run tests
      run: |
        cd app_python
        pip install pytest
        pip install pytest-xdist
        pytest -n 3 lab3_tests.py

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        cd app_python
        docker build -t ${{ secrets.DOCKER_USERNAME }}/lab2:latest .

    - name: Push Docker image
      run: |
        cd app_python
        docker push ${{ secrets.DOCKER_USERNAME }}/lab2:latest
