name: CI for Moscow time app

on:
  push:
    branches: [main, lab3]
  pull_request:
    branches: [main, lab3]

jobs:
  cache-dependencies:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r app_python/requirements.txt

  test:
    runs-on: ubuntu-latest
    needs: cache-dependencies 

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r app_python/requirements.txt

    - name: Run Linter
      run: |
        pip install flake8
        flake8 app_python/

    - name: Run tests
      run: |
        python -m unittest discover app_python

  security:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app_python
    needs: test
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python-3.9@master
        with:
          command: code test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    needs: test 

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/moscow-time-app ./app_python

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/moscow-time-app
